<!--Footer-->
<footer class="page-footer center-on-small-only elegant-color-dark d-print-none" *ngIf="siteConfig | async as config">

  <!--Footer Links-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 ml-auto">
        <h5 class="title font-weight-bold mt-3 mb-4">{{ 'Home.About' | translate:lang }} {{ config?.groupName }}</h5>
        <!--Social buttons-->
        <div class="social-section mb-3">
          <ul>
            <li *ngIf="config?.googleLink"><a class="btn-social-all" href="https://plus.google.com/{{ config?.googleLink }}" title="Google+" target="_blank" rel="noopener"><i class="fa fa-google-plus"></i></a></li>
            <li *ngIf="config?.facebookLink"><a class="btn-social-all" href="https://www.facebook.com/{{ config?.facebookLink }}" title="Facebook" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a></li>
            <li *ngIf="config?.twitterLink"><a class="btn-social-all" href="https://twitter.com/{{ config?.twitterLink }}" title="Twitter" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a></li>
            <li *ngIf="config?.instagramLink"><a class="btn-social-all" href="https://www.instagram.com/{{ config?.instagramLink }}" title="Instagram" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a></li>
            <li *ngIf="config?.meetupLink"><a class="btn-social-all" href="https://www.meetup.com/{{ config?.meetupLink }}" title="Meetup" target="_blank" rel="noopener"><i class="fa fa-meetup"></i></a></li>
            <li *ngIf="config?.githubLink"><a class="btn-social-all" href="https://github.com/{{ config?.githubLink }}" title="GitHub" target="_blank" rel="noopener"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
        <!--/.Social buttons-->
        <p>{{ 'Footer.AboutUs' | translate:lang }}</p>
        <p><small><strong>{{ 'Footer.Disclaimer' | translate:lang }}:</strong>&nbsp;<em>{{ config?.groupName }} {{ 'Footer.DisclaimerStatement' | translate:lang }}</em></small></p>
      </div>
      <hr class="w-100 clearfix d-sm-none">
      <div class="col-lg-2 col-md-6 ml-auto">
        <h5 class="title font-weight-bold mt-3 mb-4">{{ 'Footer.Links' | translate:lang }}</h5>
        <ul>
          <li><a [href]="config?.groupWebsite" target="_blank" rel="noopener">{{ config?.groupName }}</a></li>
          <li><a href="https://iwc18-d6d24.firebaseapp.com/" target="_blank" rel="noopener">{{ 'Footer.IWDC' | translate:lang }} 2018</a></li>
          <li><a href="https://vdf2017-3a9f6.firebaseapp.com/" target="_blank" rel="noopener">Valley Dev Fest 2017</a></li>
          <li><a href="https://wtm2017-146fd.firebaseapp.com/" target="_blank" rel="noopener">{{ 'Footer.IWDC' | translate:lang }} 2017</a></li>
          <li><a href="https://valleydevfest-620d6.firebaseapp.com/" target="_blank" rel="noopener">Valley Dev Fest 2016</a></li>
          <li><a href="https://developers.google.com/" target="_blank" rel="noopener">{{ 'Footer.GoogleDevelopers' | translate:lang }}</a></li>
          <li><a href="https://www.womentechmakers.com/" target="_blank" rel="noopener">{{ 'Footer.WTM' | translate:lang }}</a></li>
        </ul>
      </div>
      <hr class="w-100 clearfix d-sm-none">
      <div class="col-lg-2 col-md-6 ml-auto">
        <h5 class="title font-weight-bold mt-3 mb-4">{{ 'Footer.Contact' | translate:lang }}</h5>
        <ul>
          <li><a href="mailto:{{ config?.eventEmail }}" target="_blank" rel="noopener">{{ config?.eventEmail }}</a></li>
          <li *ngIf="config?.eventTwitter"><a href="https://twitter.com/intent/tweet?text=@{{ config?.eventTwitter }}" target="_blank" rel="noopener">@{{ config?.eventTwitter }}</a></li>
          <li *ngIf="config?.twitterLink && config?.twitterLink !== config?.eventTwitter"><a href="https://twitter.com/intent/tweet?text=@{{ config?.twitterLink }}" target="_blank" rel="noopener">@{{ config?.twitterLink }}</a></li>
        </ul>
      </div>
      <hr class="w-100 clearfix d-sm-none">
      <div class="col-lg-2 col-md-6 ml-auto">
        <h5 class="title font-weight-bold mt-3 mb-4">{{ 'Footer.FAQ' | translate:lang }}</h5>
        <ul>
          <li><a routerLink="/code-of-conduct">Code of Conduct</a></li>
          <li><a href="https://meetup.com/pro/gdg" target="_blank" rel="noopener">{{ 'Footer.GDGs' | translate:lang }}</a></li>
          <li><a href="https://developers.google.com/events/devfest/" target="_blank" rel="noopener">{{ 'Footer.DevFestSeason' | translate:lang }}</a></li>
        </ul>
      </div>

    </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid text-center">
      &copy; {{ copyright }} {{ 'Footer.Copyright' | translate:lang }} <a [href]="config?.groupWebsite" target="_blank" rel="noopener">{{ config?.groupName }}</a>
      <br>{{ 'Footer.BasedOn' | translate:lang }} <a href="https://github.com/neojato/DeLorean-v2" target="_blank" rel="noopener">DeLorean {{ 'Footer.Project' | translate:lang }}</a>
    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
