<app-top-menu></app-top-menu>

<div class="between-sections d-print-none"><br><br></div>
<div class="container">
  <!--Section: CoC-->
  <section class="section" *ngIf="siteConfig | async as siteConfig">
    <div>
      <h1 class="section-heading">{{ 'Home.CodeOfConduct' | translate:lang }}</h1>
    </div>
    <div class="pt-1 pb-4">
      <h4 class="font-weight-bold">{{ 'COC.AntiHarassmentPolicy' | translate:lang }}</h4>
      <h5>
        {{ siteConfig?.eventName }} {{ 'COC.COCPar1' | translate:lang }}
      </h5>
    </div>
    <div class="pt-1 pb-4">
      <h4 class="font-weight-bold">{{ 'COC.ImportantContacts' | translate:lang }}</h4>
      <p>{{ 'COC.COCPar2' | translate:lang }}</p>
      <p class="font-weight-bold">{{ 'COC.Call911' | translate:lang }}</p>
      <p *ngIf="siteConfig?.eventReportEmail">{{ 'COC.COCTeam' | translate:lang }}: <a href="mailto:{{ siteConfig?.eventReportEmail }}?subject=CoC Alert - {{ siteConfig?.eventName }}">{{ siteConfig?.eventReportEmail }}</a></p>
      <p>{{ siteConfig?.eventName }} {{ 'COC.Organizers' | translate:lang }}: <a href="mailto:{{ siteConfig?.eventEmail }}?subject=CoC Alert - {{ siteConfig?.eventName }}">{{ siteConfig?.eventEmail }}</a></p>
      <p><a href="https://www.rainn.org/" target="_blank" rel="noopener">RAINN</a> {{ 'COC.RAINN' | translate:lang }}: <a href="tel:800.656.4673">800.656.4673</a></p>
    </div>
    <div class="pt-1 pb-4">
      <h4 class="font-weight-bold">{{ 'COC.FullCOC' | translate:lang }}</h4>
      <p>{{ 'COC.FCOCPar11' | translate:lang }} {{ siteConfig?.eventName }} {{ 'COC.FCOCPar12' | translate:lang }}</p>
      <p>{{ siteConfig?.eventName }} {{ 'COC.FCOCPar2' | translate:lang }}</p>
      <div>
        {{ 'COC.Harassment' | translate:lang }}:
        <ul>
          <li>{{ 'COC.FCOCOpt1' | translate:lang }}</li>
          <li>{{ 'COC.FCOCOpt2' | translate:lang }}</li>
          <li>{{ 'COC.FCOCOpt3' | translate:lang }}</li>
          <li>{{ 'COC.FCOCOpt4' | translate:lang }}</li>
          <li>{{ 'COC.FCOCOpt5' | translate:lang }}</li>
          <li>{{ 'COC.FCOCOpt6' | translate:lang }}</li>
          <li>{{ 'COC.FCOCOpt7' | translate:lang }}</li>
          <li>{{ 'COC.FCOCOpt8' | translate:lang }}</li>
        </ul>
      </div>
    </div>
    <div class="pt-1 pb-4">
      <h5 class="font-weight-bold">{{ 'COC.Enforcement' | translate:lang }}</h5>
      <p>{{ 'COC.EnfPar1' | translate:lang }}</p>
      <p>{{ 'COC.EnfPar2' | translate:lang }}</p>
      <p>{{ 'COC.EnfPar3' | translate:lang }}</p>
      <p>{{ 'COC.EnfPar4' | translate:lang }}</p>
      <p>{{ 'COC.EnfPar5' | translate:lang }}</p>
    </div>
    <div class="pt-1 pb-4">
      <h5 class="font-weight-bold">{{ 'COC.Reporting' | translate:lang }}</h5>
      <p>{{ 'COC.ReportPar1' | translate:lang }}</p>
      <p *ngIf="siteConfig?.eventAnonReport">{{ 'COC.ReportPar2' | translate:lang }}</p>
    </div>
    <div class="pt-1 pb-4" *ngIf="siteConfig?.eventAnonReport">
      <h5 class="font-weight-bold">{{ 'COC.AnonymousReport' | translate:lang }}</h5>
      <p>{{ 'COC.ReportPar3' | translate:lang }}: <a href="{{ siteConfig?.eventAnonReport }}" target="_blank" rel="noopener">{{ siteConfig?.eventAnonReport }}</a></p>
      <p>{{ 'COC.ReportPar4' | translate:lang }}</p>
    </div>
    <div class="pt-1 pb-4">
      <h5 class="font-weight-bold">{{ 'COC.PersonalReport' | translate:lang }}</h5>
      <p>{{ 'COC.ReportPar51' | translate:lang }} {{ siteConfig?.eventName }} {{ 'COC.ReportPar52' | translate:lang }}</p>
      <p>{{ 'COC.ReportPar6' | translate:lang }}</p>
      <p>{{ 'COC.ReportPar7' | translate:lang }}</p>
    </div>
    <div class="pt-1 pb-4">
      <h4 class="font-weight-bold">{{ 'COC.License' | translate:lang }}</h4>
      <p>
        {{ 'COC.LicPar11' | translate:lang }} <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy" target="_blank" rel="noopener">{{ 'COC.LicPar12' | translate:lang }}</a>,
        {{ 'COC.LicPar2' | translate:lang }}
      </p>
      <p>{{ 'COC.LicPar31' | translate:lang }} {{ siteConfig?.eventName }} {{ 'COC.LicPar32' | translate:lang }} <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank" rel="noopener">Creative Commons Attribution 3.0 Unported License</a>.</p>
    </div>
  </section>
  <!--Section: Coc-->
</div>
<div class="between-sections"><br><br></div>
