<header *ngIf="siteConfig$ | async as config">

  <app-top-menu></app-top-menu>

  <!--Intro Section-->
  <section class="view intro-1 hm-black-strong">
    <div class="full-bg-img flex-center">
      <div class="container text-center">
        <h1 class="h1-responsive font-weight-bold">{{ config?.eventName }}</h1>
        <h2 *ngIf="config?.eventMotto" class="font-weight-bold">
          {{ config?.eventMotto }}
        </h2>
        <p class="lead mt-4 mb-5">
          {{ config?.eventDate | l10nDate:defaultLocale:'fullDate' }}<br/>
          <strong>@&nbsp;{{ config?.venueName }}</strong>
        </p>
        <p class="lead mt-4 mb-5">
          {{ 'Home.ConferenceShort' | translate:lang }}
        </p>
        <a target="_blank" rel="noopener" [href]="config?.ticketURL" class="btn btn-primary btn-lg" rel="nofollow">{{ 'Home.ReserveYourSeat' | translate:lang }}</a>
        <a *ngIf="config?.speakerURL" target="_blank" rel="noopener" [href]="config?.speakerURL" class="btn btn-default btn-lg" rel="nofollow">{{ 'Home.BecomeASpeaker' | translate:lang }}</a>
        <a href="/hackathon" class="btn btn-primary btn-lg">{{ 'Menu.Hackathon' | translate:lang }}</a>
      </div>
      <div class="arrow bounce">
        <a class="fa fa-chevron-down fa-1x" [ngx-scroll-to]="'#hackathon'"></a>
      </div>
    </div>
  </section>

</header>

<div class="container" *ngIf="siteConfig$ | async as config">
  <div id="about" class="divider-new pt-5">
    <h2 class="h2-responsive">{{ 'Home.About' | translate:lang }}</h2>
  </div>

  <!--Section: About-->
  <section class="text-center" *ngIf="!config?.eventType || config?.eventType === 'DevFest'">
    <p [innerHTML]="'Home.DevfestPara1' | translate:lang"></p>
    <p [innerHTML]="'Home.DevfestPara2' | translate:lang:{ eventName: config?.eventName }"></p>
  </section>
  <section class="text-center" *ngIf="config?.eventType === 'IWD'">
    <p [innerHTML]="'Home.IWDPara1' | translate:lang"></p>
    <p [innerHTML]="'Home.IWDPara2' | translate:lang:{ eventName: config?.eventName }"></p>
  </section>
  <section class="text-center" *ngIf="config?.eventType === 'Other'">
    <p [innerHTML]="config?.eventDescription"></p>
  </section>
  <section class="text-center" *ngIf="config?.eventGoogle || config?.eventFacebook || config?.eventTwitter || config?.eventInstagram">
    <!--Social buttons-->
    <div class="social-section mb-3">
      <h5 class="title mt-3 mb-4">{{ 'Home.FollowUs' | translate:lang }}</h5>
      <ul>
        <li *ngIf="config?.eventGoogle"><a class="btn-social-all" href="https://plus.google.com/{{ config?.eventGoogle }}" title="Google+" target="_blank" rel="noopener"><i class="fa fa-google-plus"></i></a></li>
        <li *ngIf="config?.eventFacebook"><a class="btn-social-all" href="https://www.facebook.com/{{ config?.eventFacebook }}" title="Facebook" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a></li>
        <li *ngIf="config?.eventTwitter"><a class="btn-social-all" href="https://twitter.com/{{ config?.eventTwitter }}" title="Twitter" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a></li>
        <li *ngIf="config?.eventInstagram"><a class="btn-social-all" href="https://www.instagram.com/{{ config?.eventInstagram }}" title="Instagram" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
    <!--/.Social buttons-->
  </section>
  <!--Section: About-->

  <div id="hackathon" class="divider-new pt-5">
    <h2 class="h2-responsive">{{ 'Menu.Hackathon' | translate:lang }}</h2>
  </div>

  <!--Section: Hackathon-->
  <section class="text-center">
    <p>Valley DevFest 2019 and GDG Fresno in partnership with 59 Days of Code and Code for Fresno are holding a 23hr hackathon!</p>
  </section>
  <section class="text-center">
    <!--button-->
    <div class="social-section mb-3">
        <h5 class="title mt-3 mb-4">Check the details by clicking on the button below</h5>
        <ul>
          <li><a class="btn-social-all" href="/hackathon">{{ 'Menu.Hackathon' | translate:lang }}</a></li>
        </ul>
      </div>
      <!--/.buttons-->
    </section>
  <!--Section: Hackathon-->

  <div class="divider-new pt-5" *ngIf="(speakers$ | async)?.length > 0">
    <h2 class="h2-responsive">{{ 'Home.FeaturedSpeakers' | translate:lang }}</h2>
  </div>

  <!--Section: Featured Speakers-->
  <section class="section team-section" *ngIf="(speakers$ | async)?.length > 0 && speakers$ | async as speakers">
    <div class="row text-center">
      <div *ngFor="let speaker of speakers" class="col-lg-3 col-md-6 mb-r" style="padding-left: 40px; padding-right: 40px; margin: 0 auto;">
        <div class="avatar" title="{{ speaker.name }}" alt="{{ speaker.name }}">
          <img *ngIf="!speaker.photoURL" class="rounded-circle z-depth-1" style="background-image: url('../../../assets/img/user-default.png')">
          <img *ngIf="speaker.photoURL" class="rounded-circle z-depth-1" [ngStyle]="{'background-image': 'url(' + speaker.photoURL + ')'}">
        </div>
        <h4><span [innerHTML]="speaker.name"></span></h4>
        <h6><span [innerHTML]="speaker.title"></span><br/><strong *ngIf="speaker.company">@&nbsp;<span [innerHTML]="speaker.company"></span></strong></h6>
      </div>
    </div>
  </section>
  <!--Section: Featured Speakers-->

  <div class="divider-new" id="the-venue" *ngIf="config?.venueName">
    <h2 class="h2-responsive">{{ 'Home.TheVenue' | translate:lang }}</h2>
  </div>

  <!--Section: The Venue-->
  <section *ngIf="config?.venueName">
    <div class="row">
      <div class="col-md-5">
        <h2 class="h2-responsive">{{ config?.venueName }}</h2>
        <hr>
        <p [innerHTML]="config?.venueDescription"></p>
        <p *ngIf="config?.parkingMapUrl"><a href="{{ config?.parkingMapUrl }}" target="_blank">{{ 'Home.ParkingMap' | translate:lang }}</a></p>
        <p *ngIf="config?.floorPlanUrl"><a href="{{ config?.floorPlanUrl }}" target="_blank">{{ 'Home.FloorPlan' | translate:lang }}</a></p>
      </div>
      <div class="col-md-7">
        <div class="card">
          <img class="venue-photo" *ngIf="config?.venuePhoto" [src]="config?.venuePhoto" alt="{{ config?.venueName }}" title="{{ config?.venueName }}"/>
        </div>
      </div>
    </div>
  </section>
  <!--/Section: The Venue-->

  <div class="divider-new" *ngIf="config?.venueGeoData">
    <h2 class="h2-responsive">{{ 'Home.Location' | translate:lang }}</h2>
  </div>

  <!--Section: Location-->
  <section id="location pb-5" *ngIf="config?.venueGeoData">
    <div class="row">
      <div class="col-md-9 mb-5">
        <div id="map-container" class="z-depth-1" style="height: 300px">
          <agm-map style="height: 300px" [latitude]="( config?.venueGeoData?.lat + 0.0003 )" [longitude]="( config?.venueGeoData?.lng )" [scrollwheel]="false" [zoom]="18">
            <agm-marker [latitude]="( config?.venueGeoData?.lat )" [longitude]="( config?.venueGeoData?.lng )">
              <agm-info-window [isOpen]="true" [maxWidth]="180">
                <strong>{{ config?.venueName }}</strong><br/>
                {{ config?.venueAddress }}<br/>
                <a href="https://www.google.com/maps/search/?api=1&query={{ config?.venueAddress }}" target="_blank" rel="noopener">{{ 'Home.ViewGMaps' | translate:lang }}</a>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </div>
      <div class="col-md-3">
        <a href="https://www.google.com/maps/search/?api=1&query={{ config?.venueAddress }}" target="_blank" rel="noopener">
          <div class="card location-card blue-grey lighten-5 text-center z-depth-2">
            <div class="card-body">
              <p class="col text-center mb-0">
                <i class="fa fa-map-marker fa-lg"></i><br/>
                <strong>{{ config?.venueName }}</strong><br/>
                {{ config?.venueAddress }}
              </p>
              <img src="./../../assets/img/marker.png"/>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <!--Section: Location-->

  <div class="divider-new pt-5">
    <h2 class="h2-responsive">{{ 'Home.CodeOfConduct' | translate:lang }}</h2>
  </div>

  <!--Section: CoC-->
  <section id="coc" class="text-center">
    <h5>{{ 'Home.COCHeader' | translate:lang }}</h5>
    <p>{{ 'Home.COCPara1' | translate:lang:{ eventName: config?.eventName } }}</p>
    <p>
      {{ 'Home.COCPara2' | translate:lang }} <a routerLink="/code-of-conduct">{{ config?.eventName }} {{ 'Home.CodeOfConduct' | translate:lang }}</a>.
      {{ 'Home.COCPara3' | translate:lang:{ eventName: config?.eventName } }}.
      {{ 'Home.Please' | translate:lang }} <a href="mailto:{{ config?.eventEmail }}?subject=Code of Conduct - {{ config?.eventName }}" target="_blank" rel="noopener">{{ 'Home.ContactUs' | translate:lang }}</a> {{ 'Home.AnyQuestions' | translate:lang }}
    </p>
  </section>
  <!--Section: CoC-->

  <div class="divider-new pt-5" *ngIf="(tickets$ | async)?.length > 0">
    <h2 class="h2-responsive">{{ 'Home.Pricing' | translate:lang }}</h2>
  </div>

  <!--Section: Pricing-->
  <section class="section" *ngIf="(tickets$ | async)?.length > 0 && tickets$ | async as tickets">
    <div class="row pt-3">
      <div class="mb-r" *ngFor="let ticket of tickets; let i = index;" [ngClass]="tickets.length > 3 ? 'col-lg-3' : 'col-lg-4'" style="padding: 20px 40px; margin: 0 auto;">
        <div class="card" *ngIf="ticket.active">
          <div class="card-header white-text text-center" [ngClass]="styles[i]">
            <h1 class="dollar">{{ ticket.price }}</h1>
            <h6>{{ ticket.name }}</h6>
          </div>
          <div class="card-body">
            <div class="card-text text-center">
              <span *ngIf="ticket.description1">
                <i class="fa fa-check"></i>&nbsp;<span [innerHTML]="ticket.description1"></span>
                <hr style="width: 60%;" />
              </span>
              <span *ngIf="ticket.description2">
                <i class="fa fa-check"></i>&nbsp;<span [innerHTML]="ticket.description2"></span>
                <hr style="width: 60%;" />
              </span>
              <span *ngIf="ticket.description3">
                <i class="fa fa-check"></i>&nbsp;<span [innerHTML]="ticket.description3"></span>
                <hr style="width: 60%;" />
              </span>
              <span *ngIf="ticket.description4">
                <i class="fa fa-check"></i>&nbsp;<span [innerHTML]="ticket.description4"></span>
              </span>
              <span *ngIf="!ticket.description1">
                &nbsp;
                <hr style="width: 60%;" />
              </span>
              <span *ngIf="!ticket.description2">
                &nbsp;
                <hr style="width: 60%;" />
              </span>
              <span *ngIf="!ticket.description3">
                &nbsp;
                <hr style="width: 60%;" />
              </span>
              <span *ngIf="!ticket.description4">
                &nbsp;
              </span>
              <div class="text-center ticket-button">
                <a target="_blank" rel="noopener" [href]="config?.ticketURL" class="btn btn-primary waves-light" rel="nofollow">{{ 'Menu.Register' | translate:lang }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!--/Section: Pricing-->

  <div class="divider-new pt-5" *ngIf="(sponsors$ | async)?.length > 0">
    <h2 class="h2-responsive">{{ 'Menu.Sponsors' | translate:lang }}</h2>
  </div>

  <!--Section: Sponsors-->
  <section class="section" *ngIf="(sponsors$ | async)?.length > 0 && sponsors$ | async as sponsors">
    <div class="col sponsors">
      <h4>{{ 'Home.Sponsors1' | translate:lang }}</h4>
      <a *ngIf="config?.sponsorURL" class="btn btn-primary waves-light" [href]="config?.sponsorURL" target="_blank" rel="noopener">{{ 'Home.BecomeASponsor' | translate:lang }}</a>
    </div>
    <div class="col sponsors" *ngFor="let level of levels$ | async">
      <h3 style="font-weight: bold;">
        {{ level.name }}
      </h3>
      <hr style="width: 60%;" />
      <br/>
      <div class="row">
        <ng-container *ngFor="let sponsor of sponsors">
          <ng-container *ngIf="level.$key === sponsor.level">
            <span class="col-md-6" style="padding: 20px 40px; margin: 0 auto;">
              <a [href]="sponsor.websiteLink" target="_blank" rel="noopener">
                <img [src]="sponsor.logoURL" class="sponsor-img" title="{{ sponsor.name }}" alt="{{ sponsor.name }}" />
              </a>
            </span>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </section>
  <!--Section: Sponsors-->
</div>
